<ion-view view-title="Settings">
  <ion-content>

    <label class = "item item-input item-select">
      <div class = "input-label">
        Map Type
      </div>
      <select ng-model="data.selectedMapType" ng-change="updateSettings()">
        <option value="basic" ng-selected="true">Basic</option>
        <option value="streets">Streets</option>
        <option value="bright">Bright</option>
        <option value="dark">Dark</option>
        <option value="satellite">Satellite</option>
      </select>
    </label>

    <label class = "item item-input item-select">
      <div class = "input-label">
        Map Language
      </div>
      <select ng-model="data.selectedMapLanguage" ng-change="updateSettings()">
        <option value="name_en" ng-selected="true">English</option>
        <option value="name_es">Spanish</option>
        <option value="name_ru">Russian</option>
      </select>
    </label>


    <label class="item item-toggle">
      Scroll Zoom
      <label class="toggle toggle-assertive">
        <input ng-model="data.scrollZoom" ng-change="updateSettings()" type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </label>



      <div class = "input-label">
        Zoom
      </div>
        <div class="item range range-positive">
          <i class="icon ion-android-radio-button-off"></i>
          <input ng-model="data.zoomLevel" ng-change="updateSettings()" type="range" name="zoom" min="0" max="30" value="14">
          <i class="icon ion-android-radio-button-on"></i>
        </div>

  </ion-content>
</ion-view>
