<ion-view view-title="Settings">
  <ion-content>

    <label class = "item item-input item-select">
      <div class = "input-label">
        Map Type
      </div>
      <select ng-model="data.selectedMapType">
        <option value="basic" ng-selected="true">Basic</option>
        <option value="streets">Streets</option>
        <option value="bright">Bright</option>
        <option value="dark">Dark</option>
        <option value="satellite">Satellite</option>
      </select>
    </label>

    <label class = "item item-input item-select">
      <div class = "input-label">
        Map Language
      </div>
      <select ng-model="data.selectedMapLanguage">
        <option value="name_en" ng-selected="true">English</option>
        <option value="name_es">Spanish</option>
        <option value="name_ru">Russian</option>
      </select>
    </label>


    <label class="item item-toggle">
      Disable Scroll Zoom
      <label class="toggle toggle-royal">
        <input ng-model="data.scrollZoom" ng-change="updateSettings()" type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </label>

    <label class="item item-toggle">
      Disable Drag Pan
      <label class="toggle toggle-assertive">
        <input ng-model="data.dragPan" ng-change="updateSettings()" type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </label>

    <label class="item item-toggle">
      Disable Double-click to zoom
      <label class="toggle toggle-calm">
        <input ng-model="data.doubleClick" ng-change="updateSettings()" type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </label>

  </ion-content>
</ion-view>
